$ff: 'Montserrat', sans-serif;
$ffg: 'EB Garamond', serif;
$lh: 1.2;
$wh: #ffffff;
$bl: #212121;
$orange: #FC7324;
$l-orange: #FFEADF;
$lgray: #EEEEEE;
$gray: #F6F6F6;
$d-gray: #CDCDCD;
$green: #1F8A70;

$maxWidth: 1920;
@mixin adaptive-font($pcSize, $mobSize) {
 $addSize: $pcSize - $mobSize;
 $maxWidth: $maxWidth - 320;
 font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}